<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md">
            <partial name="Register"></partial>
        </div>
        <div class="col-md">
            <partial name="Login"></partial>
        </div>
    </div>
</div>