@model User

<h3 class="text-center">Register</h3>
<hr>

<form asp-controller="Home" asp-action="Register">

  <div class="form-group">
    <label asp-for="FirstName"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="FirstName"></span>
    <input class="form-control" asp-for="FirstName">
  </div>
  
  <div class="form-group">
    <label asp-for="LastName"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="LastName"></span>
    <input class="form-control" asp-for="LastName">
  </div>

  <div class="form-group">
    <label asp-for="Alias"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="Alias"></span>
    <input class="form-control" asp-for="Alias">
  </div>
          
  <div class="form-group">
    <label asp-for="Email"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="Email"></span>
    <input class="form-control" asp-for="Email">
  </div>
          
  <div class="form-group">
    <label asp-for="Password"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="Password"></span>
    <input class="form-control" asp-for="Password">
  </div>

  <div class="form-group">
    <label asp-for="PasswordConfirm"></label>
    <span class="text-danger font-weight-bold" asp-validation-for="PasswordConfirm"></span>
    <input class="form-control" asp-for="PasswordConfirm">
  </div>
  
  <button class="btn btn-info" type="submit">Register</button>
</form>